@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.landing {
    background-image: url(https://picsum.photos/id/943/1900/800);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img{
    height: 600px;
    width: 700px;
    object-fit: contain;
    float: right;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #417594;
    color: white;
    margin: 20px;
    border-radius: 20px;
  }

  .topnav-right {
    float: right;
  }

  .topnav img{
      border-radius: 40px;
      height: 100px;
      object-fit: cover;
      padding: 10px;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 30px;
    margin-right: 16px;
    font-size: 17px;
    color: black;
  }

.topnav ::placeholder{
    color: #417594;
}

