@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


#landing {
    background-image: url(https://picsum.photos/id/943/1900/800);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#landing img{
    height: 600px;
    width: 700px;
    object-fit: contain;
    grid-column-start: 1;
    grid-column-end: 2;
}

#landing h2{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #417594;
    color: white;
    margin: 20px;
    border-radius: 20px;
  }

  .topnav img{
      border-radius: 40px;
      height: 100px;
      object-fit: cover;
      padding: 10px;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 30px;
    margin-right: 16px;
    font-size: 17px;
    color: black;
  }

.topnav ::placeholder{
    color: #417594;
}

.topnav-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 1%;
}

.product {
  max-width: 500px;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
}

.product-title,
.product-cat,
.product-quan,
.product-cost {
  padding: 1%;
}

#project-container {
  padding: 2px 2px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* #filters{ 
  display: flex;
  align-items: center;  
  justify-content: center;
} */

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

form input{
 color: #417594;
 margin-bottom: 30px;
}

form button{
  color: #f2f2f2;
  background-color: #417594;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    border: #417594;
}

form button:hover {
  background-color: #ddd;
  color: black;
}

#cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 70vw;
  bottom: 0;
  z-index: 3;
  background-color: #417594;
  transition: all 0.5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#cart.active {
  left: 0;
}

#myBtn {
  color: #f2f2f2;
  background-color: #417594;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    border: #417594;
    margin: 10px;
}

#myBtn:hover {
  background-color: #ddd;
  color: black;
}

#cart-btn {
  color: #f2f2f2;
  background-color: #417594;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
    border: #417594;
    margin-right: 10px;
}

#cart-btn:hover {
  background-color: #ddd;
  color: black;
}